<footer id="footer-area">


    <!-- Footer Follow Up Area Start -->
    <div class="footer-followup-area">
        <div class="container-fluid" style="padding: 0px 5%">
            <div class="followup-wrapper">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="follow-content-wrap">
                            <a href="index.html" class="logo"><img src="assets/logo_png.png" width="100px;" alt="logo"/></a>
                            <p>Síguenos en <b>REDES SOCIALES</b> </p>

                            <div class="footer-social-icons">
                                <a target="_blank" href="https://www.facebook.com/joyeria.aries.miraflores"><i class="fab fa-facebook"></i></a>
                                <a target="_blank" href="https://www.instagram.com/joyeria.aries"><i class="fab fa-instagram"></i></a>
                            </div>

                            <a ><img src="assets/payment.png" alt="Payment Method"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Follow Up Area End -->



    <!-- Copyright Area Start -->
    <div class="copyright-area">
        <div class="container-fluid" style="padding: 0px 5%">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>Copyright © 2019 Joyeria Aries. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright Area End -->

</footer>
