<header id="header-area">

  <div class="container-fluid" style="padding: 0px 5%">
      <div class="row">
          <!-- Logo Area Start -->
          <div class="col-12 col-lg-1 col-md-1  m-auto text-center">
              <a href="index.html" class="logo-area">
                  <img src="assets/logo_png.png" alt="Logo" width="80px"/>
              </a>
          </div>
          <!-- Logo Area End -->

          <!-- Navigation Area Start -->
          <div class="col-10  col-lg-10 col-md-10  m-auto">
              <div class="main-menu-wrap">
                  <nav id="mainmenu">
                      <ul>
                          <li class="dropdown-show"><a href="index.html">HOME</a>
                              <ul class="dropdown-nav sub-dropdown">
                                  <li><a href="index.html">Home Layout 1</a></li>
                                  <li><a href="index2.html">Home Layout 2</a></li>
                                  <li><a href="index3.html">Home Layout 3</a></li>
                                  <li><a href="index4.html">Home Layout 4</a></li>
                                  <li><a href="index5.html">Home Layout 5</a></li>
                                  <li><a href="index6.html">Home Layout 6</a></li>
                              </ul>
                          </li>
                          <li class="dropdown-show"><a href="#">PARA ELLA  <i class="fas fa-chevron-down"></i></a>
                              <ul class="mega-menu-wrap dropdown-nav">
                                  <li class="mega-menu-item"><a href="shop.html" class="mega-item-title">Shop
                                      Layout</a>
                                      <ul>
                                          <li><a href="shop.html">Shop Left Sidebar</a></li>
                                          <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                          <li><a href="shop-left-full-wide.html">Shop Left Full Wide</a></li>
                                          <li><a href="shop-right-full-wide.html">Shop Right Full Wide</a></li>
                                          <li><a href="shop-full-wide.html">Shop Without Sidebar</a></li>
                                      </ul>
                                  </li>

                                  <li class="mega-menu-item"><a href="single-product.html" class="mega-item-title">Single
                                      Products</a>
                                      <ul>
                                          <li><a href="single-product.html">Single Product</a></li>
                                          <li><a href="single-product-normal.html">Single Product Normal</a></li>
                                          <li><a href="single-product-group.html">Single Product Group</a></li>
                                          <li><a href="single-product-external.html">Single Product External</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                          <li class="dropdown-show"><a href="#">PARA EL <i class="fas fa-chevron-down"></i></a>
                              <ul class="dropdown-nav">
                                  <li><a href="cart.html">Shopping Cart</a></li>
                                  <li><a href="checkout.html">Checkout</a></li>
                                  <li><a href="compare.html">Compare</a></li>
                                  <li><a href="wishlist.html">Wishlist</a></li>
                                  <li><a href="login-register.html">Login & Register</a></li>
                                  <li><a href="my-account.html">My Account</a></li>
                                  <li><a href="404.html">404 Error</a></li>
                              </ul>
                          </li>
                          <li class="dropdown-show"><a href="#">PLATERIA <i class="fas fa-chevron-down"></i></a>
                              <ul class="mega-menu-wrap dropdown-nav">
                                  <li class="mega-menu-item"><a href="shop-left-full-wide.html"
                                                                class="mega-item-title">Shirt</a>
                                      <ul>
                                          <li><a href="shop.html">Tops & Tees</a></li>
                                          <li><a href="shop.html">Polo Short Sleeve</a></li>
                                          <li><a href="shop.html">Graphic T-Shirts</a></li>
                                          <li><a href="shop.html">Jackets & Coats</a></li>
                                          <li><a href="shop.html">Fashion Jackets</a></li>
                                      </ul>
                                  </li>

                                  <li class="mega-menu-item"><a href="shop-left-full-wide.html"
                                                                class="mega-item-title">Jeans</a>
                                      <ul>
                                          <li><a href="shop.html">Crochet</a></li>
                                          <li><a href="shop.html">Sleeveless</a></li>
                                          <li><a href="shop.html">Stripes</a></li>
                                          <li><a href="shop.html">Sweaters</a></li>
                                          <li><a href="shop.html">Hoodies</a></li>
                                      </ul>
                                  </li>

                                  <li class="mega-menu-item"><a href="shop-left-full-wide.html"
                                                                class="mega-item-title">Shoes</a>
                                      <ul>
                                          <li><a href="shop.html">Tops & Tees</a></li>
                                          <li><a href="shop.html">Polo Short Sleeve</a></li>
                                          <li><a href="shop.html">Graphic T-Shirts</a></li>
                                          <li><a href="shop.html">Jackets & Coats</a></li>
                                          <li><a href="shop.html">Fashion Jackets</a></li>
                                      </ul>
                                  </li>

                                  <li class="mega-menu-item"><a href="shop-left-full-wide.html"
                                                                class="mega-item-title">Watches</a>
                                      <ul>
                                          <li><a href="shop.html">Crochet</a></li>
                                          <li><a href="shop.html">Sleeveless</a></li>
                                          <li><a href="shop.html">Stripes</a></li>
                                          <li><a href="shop.html">Sweaters</a></li>
                                          <li><a href="shop.html">Hoodies</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>


                          <li><a href="contact.html">CONTACTENOS</a></li>
                      </ul>
                  </nav>
              </div>
          </div>
          <!-- Navigation Area End -->

          <!-- BUSCADOR -->
          <div class="col-1 col-lg-1 col-md-1   m-auto">
              <div class="header-right-meta text-right">
                  <ul>
                      <li><a  class="modal-active"><i class="fa fa-search"></i></a></li>
                  </ul>
              </div>
          </div>
          <!-- BUSCADOR -->
      </div>
  </div>
</header>





<div class="body-popup-modal-area">
  <span class="modal-close"><img src="assets/cancel.png" alt="Close" class="img-fluid"/></span>
  <div class="modal-container d-flex">
      <div class="search-box-area">
          <div class="search-box-form">
              <form action="#" method="post">
                  <input type="search" placeholder="Buscar"/>
                  <button class="btn" type="button"><i class="fa fa-search"></i></button>
              </form>
          </div>
      </div>
  </div>
</div>
