.black-overlay{
  animation: opacity 6s;
  animation-direction: alternate;
  animation-iteration-count: initial;
}

@keyframes opacity {
  10% { opacity: 1; }
  20% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 1; }
  50% { opacity: 1; }
  60% { opacity: 0.5; }
  70% { opacity: 0.4; }
  80% { opacity: 0.3; }
  90% { opacity: 0.2; }
  100% { opacity: 0;display: none; }
}

.loading-text{
  top: 50%!important;
  z-index: 99999!important;
  padding-bottom: 10%!important;
  transition: 0.5s;
  text-align: center;
}

.la-ball-scale-multiple {
  display: none !important;
}

.loading-text img{
  width: 80%;
  animation: bounce 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.shadow {
  text-align: center;
  border-radius: 50%;
  margin-left: 25%;
  width: 50%;
  height: 8px;
  background-color: rgba(0,0,0,0.3);
}

@keyframes bounce {
  from { transform: translate3d(0, -5px, 0);     }
  to   { transform: translate3d(0, 10px, 0); }
}


@media (max-width: 600px) {
  .loading-text{
    padding-bottom: 30%!important;
  }
}
