

.loading-text{
  top: 50%!important;
  z-index: 99999!important;
  padding-bottom: 10%!important;
  transition: 0.5s;
  text-align: center;
}

.la-ball-scale-multiple {
  display: none !important;
}

.loading-text img{
  width: 80%;
  animation: bounce 5s;
  animation-direction: alternate;
  animation-iteration-count: initial;
  transform: scale(0.6);
}



@keyframes bounce {
  from { transform: scale(1);     }
  to   { transform: scale(0.6); }
}

.footer-followup-area {
  background-image: url(assets/footer-bg.jpg)
}


html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat";
  color: #727272;
  overflow-x: hidden;
}

a {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

a:hover, a:focus {
  color: #d82e2e;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
  font-family: "Playfair Display";
  color: #202020;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

strong {
  font-weight: 700;
}

figure {
  margin: 0;
}

button, button.btn {
  outline: none;
  border: none;
}

button:focus, button:active, button.btn:focus, button.btn:active {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ruby-container {
  padding: 0 4%;
}

.p-9 {
  padding: 90px 0;
}

@media only screen and (min-width: 320px) and (max-width: 575px), only screen and (min-width: 576px) and (max-width: 767px) {
  .p-9 {
      padding: 45px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .p-9 {
      padding: 60px 0;
  }
}

.pt-9 {
  padding-top: 90px;
}

@media only screen and (min-width: 320px) and (max-width: 575px), only screen and (min-width: 576px) and (max-width: 767px) {
  .pt-9 {
      padding-top: 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pt-9 {
      padding-top: 60px;
  }
}

.mt-9 {
  margin-top: 90px;
}

@media only screen and (min-width: 320px) and (max-width: 575px), only screen and (min-width: 576px) and (max-width: 767px) {
  .mt-9 {
      margin-top: 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mt-9 {
      margin-top: 60px;
  }
}

.section-title {
  position: relative;
  margin-bottom: 94px;
}

.section-title:after {
  /*background-image: url(../img/title-line.png);*/
  background-repeat: no-repeat;
  background-position: center bottom;
  content: '';
  position: absolute;
  width: 100%;
  height: 27px;
  left: 0;
  top: calc(100% + 24px);
}

.section-title h2 {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 17px;
  margin-top: -9px;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .section-title h2 {
      font-size: 2.2rem;
      margin-top: -5px;
  }
}

.section-title p {
  font-style: italic;
  font-family: "Droid Serif";
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

.owl-carousel .owl-nav button {
  background: #f4f5f7 !important;
  width: 45px;
  height: 45px;
  display: inline-block;
  color: #929292;
  font-size: 22px !important;
  line-height: 1;
  position: absolute;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.owl-carousel .owl-nav button:hover {
  background-color: #d82e2e !important;
  color: #fff;
}

.owl-carousel .owl-dots button {
  margin-left: 15px;
}

.owl-carousel .owl-dots button.active span {
  background-color: #d82e2e;
}

.owl-carousel .owl-dots button span {
  width: 10px;
  height: 10px;
  display: block;
  background-color: #929292;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.btn-long-arrow {
  background-color: transparent;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  position: relative;
  display: inline-block;
}

.btn-long-arrow:after {
  /*background: url(../img/arrow.png) left center no-repeat;*/
  content: '';
  float: right;
  margin-left: 20px;
  width: 39px;
  height: 22px;
}

.btn-long-arrow:hover, .btn-long-arrow:focus, .btn-long-arrow:active {
  color: #d82e2e;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-long-arrow:hover:after, .btn-long-arrow:focus:after, .btn-long-arrow:active:after {
  background-position: right center;
}

.btn-add-to-cart {
  background-color: transparent;
  border: 2px solid #929292;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  color: #202020;
}

.btn-add-to-cart:hover {
  background-color: #d82e2e;
  border-color: #d82e2e;
  color: #fff;
}

.btn-add-to-cart.disabled {
  pointer-events: none;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

.btn-login {
  background-color: transparent;
  border: 2px solid #c5c5c5;
  color: #202020;
  font-weight: 700;
  padding: 10px 35px;
  cursor: pointer;
  margin-top: 10px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.btn-login:hover {
  background-color: #d82e2e;
  border-color: #d82e2e;
  color: #fff;
}

.vertical-text {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #d82e2e;
  font-family: "Montserrat";
  position: relative;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  transform-origin: left top 0;
  margin: 0;
  font-style: normal;
}

.vertical-text:after {
  background-color: #202020;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: calc(100% + 20px);
  width: 35px;
  height: 2px;
}

.tooltip .tooltip-inner {
  background-color: #d82e2e;
  font-size: 1.3rem;
  line-height: 1.5;
}

.tooltip .arrow:before {
  border-left-color: #d82e2e !important;
}

#new-products-area,
#featured-products-area,
#new-products-two {
  overflow: hidden;
}

.scrolltotop {
  background-color: #929292;
  color: #fff;
  font-size: 2.2rem;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  line-height: 38px;
  text-align: center;
  display: block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: -30px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  right: 30px;
  z-index: 95;
}

.scrolltotop.show {
  bottom: 40px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}

.scrolltotop:hover, .scrolltotop:active, .scrolltotop:focus {
  background-color: #d82e2e;
  color: #fff;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.custom-padding {
  margin-left: -2px;
  margin-right: -2px;
}

.custom-padding [class*="col"] {
  padding: 0 2px;
}

.breadcrumb {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding-bottom: 0;
}

.breadcrumb li {
  margin-right: 40px;
  position: relative;
}

.breadcrumb li:last-child {
  margin-right: 0;
}

.breadcrumb li:last-child:last-child:after {
  display: none;
}

.breadcrumb li:after {
  content: '\f105';
  font-family: "FontAwesome";
  color: #f4f5f7;
  position: absolute;
  left: calc(100% + 20px);
}

.breadcrumb li a {
  font-family: "Droid Serif";
  color: #f4f5f7;
  font-size: 1.5rem;
  font-style: italic;
}

.breadcrumb li a:hover, .breadcrumb li a:active, .breadcrumb li a:focus, .breadcrumb li a.active {
  color: #d82e2e;
}

.breadcrumb li a.active {
  pointer-events: none;
}

.sidebar-list {
  margin-top: -12px;
}

.sidebar-list li {
  border-bottom: 1px dashed #c5c5c5;
  padding: 8px 0;
}

.sidebar-list li a {
  color: #202020;
  font-style: italic;
  font-family: "Droid Serif";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.sidebar-list li a:hover {
  color: #d82e2e;
  padding-left: 4px;
}

.nice-select {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  float: none;
  height: auto;
  text-transform: capitalize;
  line-height: inherit;
  padding: 5px 30px 5px 15px;
  width: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .nice-select {
      width: 160px;
  }
}

.nice-select span.current {
  font-weight: 700;
  font-size: 1.3rem;
}

.nice-select .list {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
}

.nice-select .list .option {
  line-height: 30px;
  min-height: 30px;
}

.page-pagination .pagination li a {
  background-color: #fff;
  color: #727272;
  outline: 1px solid #c5c5c5;
  display: inline-block;
  padding: 8px 15px;
  font-weight: 700;
  font-size: 1.2rem;
}

.page-pagination .pagination li a:hover, .page-pagination .pagination li a:focus, .page-pagination .pagination li a.current {
  background-color: #d82e2e;
  outline-color: #d82e2e;
  color: #fff;
}

.custom-checkbox label, .custom-checkbox .custom-control-label, .custom-radio label, .custom-radio .custom-control-label {
  color: #202020;
  font-size: 1.5rem;
  line-height: 1;
  padding-left: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .custom-checkbox label, .custom-checkbox .custom-control-label, .custom-radio label, .custom-radio .custom-control-label {
      font-size: 1.3rem;
  }
}

.custom-checkbox label:before, .custom-checkbox .custom-control-label:before, .custom-radio label:before, .custom-radio .custom-control-label:before {
  background-color: transparent;
  border: 1px solid #acacac;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 15px;
  top: 0;
  width: 15px;
}

.custom-checkbox label:after, .custom-checkbox .custom-control-label:after, .custom-radio label:after, .custom-radio .custom-control-label:after {
  background-size: 10px 10px;
  height: 15px;
  top: 0;
  width: 15px;
}

.custom-checkbox label a, .custom-checkbox .custom-control-label a, .custom-radio label a, .custom-radio .custom-control-label a {
  color: #202020;
  font-weight: 500;
}

.custom-checkbox label a:hover, .custom-checkbox .custom-control-label a:hover, .custom-radio label a:hover, .custom-radio .custom-control-label a:hover {
  color: #d82e2e;
}

.custom-checkbox input, .custom-checkbox .custom-control-input, .custom-radio input, .custom-radio .custom-control-input {
  outline: none;
}

.custom-checkbox input:focus ~ .custom-control-label:before, .custom-checkbox input:focus label:before, .custom-checkbox .custom-control-input:focus ~ .custom-control-label:before, .custom-checkbox .custom-control-input:focus label:before, .custom-radio input:focus ~ .custom-control-label:before, .custom-radio input:focus label:before, .custom-radio .custom-control-input:focus ~ .custom-control-label:before, .custom-radio .custom-control-input:focus label:before {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.custom-checkbox input:checked ~ .custom-control-label:before, .custom-checkbox input:checked label:before, .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before, .custom-checkbox .custom-control-input:checked label:before, .custom-radio input:checked ~ .custom-control-label:before, .custom-radio input:checked label:before, .custom-radio .custom-control-input:checked ~ .custom-control-label:before, .custom-radio .custom-control-input:checked label:before {
  background-color: #d82e2e;
  border-color: #d82e2e;
}

.custom-radio label:before, .custom-radio .custom-control-label:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 14px;
  width: 14px;
}

.custom-radio label:after, .custom-radio .custom-control-label:after {
  background-position: 1px 1px;
  background-size: 8px 8px;
  left: -13px;
  top: 2px;
  height: 10px;
  width: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: 0;
  background-color: #d82e2e;
}

.table-responsive::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
  height: 10px;
  background-color: rgba(216, 46, 46, 0.3);
}

blockquote, .blockquote {
  background-color: #e5e8ec;
  font-size: 1.5rem;
  line-height: 30px;
  color: #202020;
  font-family: "Droid Serif";
  font-weight: 700;
  font-style: italic;
  padding: 100px 30px 30px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}

blockquote *, .blockquote * {
  margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  blockquote, .blockquote {
      padding: 100px 15px 15px;
  }
}

blockquote:after, .blockquote:after {
  content: '\f10d';
  font-family: "FontAwesome";
  font-size: 5rem;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 40px;
}

address {
  margin-bottom: 15px;
}

address p {
  margin-bottom: 5px;
}

address strong, address b {
  color: #000;
}


